.b-section {
  &__row {
    @include clearfix;

    &.clear-pd {
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 0;
      padding-right: 0;
    }
    > div {
      position: relative;
      &:last-child { @include last; }
    }
  }
  &__col {
    &--1-12 { @include  span(1 of 12); }
    &--2-12 { @include span(2 of 12); }
    &--3-12 { @include span(3 of 12); }
    &--4-12 { @include span(4 of 12); }
    &--5-12 { @include span(5 of 12); }
    &--6-12 { @include span(6 of 12); }
    &--7-12 { @include span(7 of 12); }
    &--8-12 { @include span(8 of 12); }
    &--9-12 { @include span(9 of 12); }
    &--10-12 { @include span(10 of 12); }
    &--12-12 { @include span(full); }
  }
  .last {
    @include last;
  }
}