.b-form {
  input[type="checkbox"] {
    &:not(:checked), &:checked {
      position: absolute;
      left: -9999px;

      + label {
        position: relative;
        padding-left: 25px; padding-bottom: 0;
        line-height: 17px;
        cursor: pointer;

        &:before {
          content: '';
          position: absolute;
          left: 0; top: -1px;
          width: 17px; height: 17px;
          border: 1px solid #aaa;
          background: #f8f8f8;
          border-radius: 3px;
          box-shadow: inset 0 1px 3px rgba(0, 0, 0, .3)
        }
        &:after {
          content: '\f00c';
          position: absolute;
          top: 0; left: 2px;
          font-size: 21px; font-family: FontAwesome;
          line-height: 0.8;
          color: $blue;
          transition: all .2s;
          background: transparent;
        }
      }

      &:focus {
        + label {
          &:before {
            border: 1px dotted blue;
          }
        }
      }
    }
    &:not(:checked) {
      + label:after {
        opacity: 0;
        transform: scale(0);
      }

    }
    &:checked {
      + label:after {
        opacity: 1;
        transform: scale(1);
      }
    }
    &:disabled {
      &:not(:checked), &:checked {
        + label {
          &:before {
            box-shadow: none;
            border-color: #bbb;
            background-color: #ddd;
          }
        }
      }
      &:checked {
        + label {
          &:after {
            color: #999;
          }
        }
      }
    }
    + label {
      color: #aaa;
    }
  }
}