@import 'b-checkbox';

.b-form {
  background-color: $white;
  margin: 40px 0;
  border-radius: 3px;
  h3 {
    color: $black; font-weight: normal;
    line-height: 56px;
    margin-top: 10px;
  }
  fieldset {
    margin-bottom: 0;
    padding: 0 10px 20px;
  }
  input, textarea, select {
    width: 100%;
    border: 1px solid #E4E3E3;
    color: #000; font-family: $primary-light-font; font-size: 1.2em;
    text-shadow: 1px 1px 1px $white;
    outline: 0;
    box-shadow: inset 1px 1px 1px rgba(169,172,225, 0.1);
    border-radius: 3px;
    &:focus {
      border-color: $orange;
    }
    &.attention {
      box-shadow: 0 0 5px rgba(248,198,70, 0.7) !important;
    }
  }
  label {
    position: relative;
    padding-bottom: 5px;
  }
  &__container {
    @include susy-clearfix;

    width: 75%;
    margin: 0 auto;
  }
  &__field {
    &.is-ready {
      margin-bottom: 10px;
      border: 1px #E2E2E2 solid;
      border-radius: 5px;
      background-color: #F7F7F7;
    }
  }
  &__title {
    padding: 0 20px;
    border-top: 2px #d0d6dd solid;
    border-radius: 3px 3px 0 0;
    background-color: rgba(208,214,221,.15);
    h3 {
      display: inline-block;
    }
    span {
      display: inline-block;
      width: 1.5em; height: 1.5em;
      font-size: 2em; color: #FFF; font-family: $primary-bolder-font;
      text-align: center;
      line-height: 1.5;
      margin-right: .5em;
      border-radius: 50%;
      background: #d0d6dd;
    }
  }
  &__content {
    padding: 20px 30px;
  }
  &__input, &__select, &__text, &__selectgroup {
    position: relative;
    label {
      display: inline-block;
      color: #556;
    }
  }
  &__input {
    input {
      @include placeholder { color: #bbc1c7; }

      position: relative;
      &[type="text"], &[type="number"], &[type="password"] {
        line-height: 40px;
        padding: 0 15px;
      }
      &[readonly="readonly"] {
        color: #808080;
        background-color: #F9F9F9;
      }

    }
    i {
      color: $black; font-size: 1.5em;
      text-shadow: 1px 1px 1px $white;
    }
  }
  &__select {
    select {
      position: relative;
      width: 100%;
      font-size: 1.2em;
      line-height: 38px;
      padding: 0 8px;
      border: none;
      box-shadow: none;
      background-color: transparent;
      background-image: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      outline: 0;
      z-index: 1;
      cursor: pointer;
      &:focus {
        border-color: $orange;}
    }
    &.is-active {
      .b-form__select__style {
        &:after {
          content: "\f077";
        }
      }
    }
    &__style {
      position: relative;
      width: 100%;
      line-height: 40px;
      padding: 0; margin: 0;
      border: 1px solid #ccc;
      border-radius: 3px;
      background-color: #fff;
      overflow: hidden;
      cursor: pointer;

      &:after {
        position: absolute; right: 5px; top: 50%;
        display: inline-block;
        content: "\f078";
        font-family: FontAwesome; color: $blue; font-size: 1.2em;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        cursor: pointer;
      }
    }
  }
  &__text {
    textarea {
      padding: 10px 15px;
    }
  }
  &__selectgroup {
    label {
      display: block;
      text-align: right;
    }
    .b-form__select {

    }
    &__divider {
      text-align: center;
      line-height: 3em;
      span {
        font-size: 20px; font-family: $primary-bold-font;
      }
    }

  }
  &__modal {
    @include all-center;
    position: absolute;
    width: 300px;
    margin: 0 auto;

    background-color: $white;
    box-shadow: 0 3px 10px rgba(0,0,0, 0.2);
    border: 1px #d0d6dd solid;
    text-align: center;
    z-index: 200;
    input {
      width: 60%;
      margin-bottom: 1em;
      text-align: center;
    }
    &__inner {
      position: relative;
      padding: 2em 1.5em;
    }
    &__close {
      position: absolute; top: 5px; right: 5px;
      line-height: 1em;
      cursor: pointer;
    }
    &__wrapper {
      position: fixed; top: 0; bottom: 0; left: 0; right: 0;
      background-color: rgba(0,0,0, 0.2);
      z-index: 100;
    }
    .b-button {
      opacity: 1;
    }
  }
  .b-section__row {
    padding-top: 1rem;
  }
  /*
  ** ALERTS
  */
  .b-alert--attention {
    top: 12px;
  }
  .form__input-message {
    padding: 0.05em 0.5em;
    font-size: 0.8em;
  }

  /*
  ** DIVIDER
  */
  .b-divider {
    margin-top: 25px;
    border: 1px #ddd dashed;
    &.-horizontal {
      width: 100%; height: 0;
    }
  }
}

/*
** MASK
*/
.-masked {
  input {
    padding-left: 1.8em !important;
  }
  &:before {
    position: absolute;
    left: 0.5em; bottom: 0.45em;
    display: inline-block;
    content: "+7";
    font-size: 1.2em;
    z-index: 1;
  }
}

