.b-switcher {
  &__switch {
    position: relative;
    height: 2rem;
    line-height: 2em;
    border: 1px $light-gray solid;
    border-radius: 11px;
    cursor: pointer;

    &.is-disabled {
      opacity: 0.5;
      cursor: auto;
    }
    &:after {
      @include transition(all, 0.3s, ease-in);

      display: block;
      position: absolute;  top: 50%;
      height: 2.1rem; width: 2.1rem;
      content: '';
      border-radius: 50%;
      border: 1px $light-gray solid;
      background-color: $white;
      box-shadow: 0 1px 3px rgba(0,0,0,0.3);
      transform: translateY(-50%);
    }
    &.-left {
      background-color: $orange;
      &:after {
        left: -0.4rem;
      }
      span {
        float: right;
        padding-right: 0.4rem;
        text-shadow: 1px 1px 1px rgba(255,255,255, 0.7);
      }
    }
    &.-right {
      background-color: #888;
      &:after {
        right: -0.4rem;
      }
      span {
        float: left;
        color: $white;
        padding-left: 0.7rem;
        text-shadow: 1px 1px 1px rgba(0,0,0, 0.7);
      }
    }

    span {
      display: block;
      float: right;
      font-family: $primary-bolder-font;
      line-height: 2.2em;
    }
  }
}