.b-icon {
  display: inline-block;
  &.-attention {
    width: 40px; height: 40px;
    color: $black; font-family: $primary-bold-font; font-size: 2.5em;
    line-height: 40px;
    text-align: center;
    background-color: $orange;
    border-radius: 50%;
  }
  &.-down {

  }
}