.b-order {
  @include transition(all, 0.3s, ease-in-out);

  padding-top: 3em;

  p {  margin: 0; }
  form {
    overflow: hidden;
  }
  &__price {
    position: relative;
    .b-form__input {
      @include clearfix;
    }
    input {
      &[type="text"] {
        font-family: $primary-bolder-font; text-align: right;
        padding-right: 50px;
        background-color: rgba(248,198,70,.54);
      }
      &[readonly="readonly"] {
        color: $black; font-family: $primary-bold-font; font-size: 1.5em;
        background-color: rgba(253,200,64,.54);
        border-color: $orange;
      }
    }
    span {
      font-family: $primary-bolder-font; font-size: 1.2em;
      line-height: 40px;
    }
    i {
      position: absolute; top: 50%; right: 20px;
      transform: translateY(-50%);
    }

    &.-large {
      input {
        font-size: 3em;
        line-height: 6rem;
      }
      i { font-size: 2.2em;}
    }
    .b-button {
      font-size: 2em;
    }
  }
  &__info {
    font-size: 1.4em;
    text-align: center;
    span { font-family: $primary-bolder-font;}
  }

  .b-form__check {
    padding-top: 0.5rem;
  }

  .b-button__container {
    text-align: right;
    padding-top: 45px;
  }

  .b-switcher__switch {
    margin-top: 30px;
  }
  &__step {
    display: none;
  }
  .b-alert--attention {
    span {
      font-family: $primary-bold-font;
    }
  }

}

/*
==============================================
moveDown
==============================================
*/
.moveDown {
  animation-name: moveDown;
  -webkit-animation-name: moveDown;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;

  visibility: visible !important;
}
@keyframes moveDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes moveDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

/*
==============================================
slideUp
==============================================
*/


.moveUp{
  animation-name: moveUp;
  -webkit-animation-name: moveUp;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;

  visibility: visible !important;
}

@keyframes moveUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes moveUp {
  0% {
    -webkit-transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}

/*
==============================================
moveLeft
==============================================
*/


.moveLeft{
  animation-name: moveLeft;
  -webkit-animation-name: moveLeft;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;

  visibility: visible !important;
}

@keyframes moveLeft {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes moveLeft {
  0% {
    -webkit-transform: translateX(150%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}

/*
==============================================
slideRight
==============================================
*/


.moveRight{
  animation-name: moveRight;
  -webkit-animation-name: moveRight;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;

  visibility: visible !important;
}

@keyframes moveRight {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(0%);
  }
}

@-webkit-keyframes moveRight {
  0% {
    -webkit-transform: translateX(-150%);
  }
  100% {
    -webkit-transform: translateX(0%);
  }
}