/**
 * REQUEST: ui-datepicker
 ====================================================
 */

.ui-datepicker {
  width: 280px;
  background-color: #FFF;
  display: none;
  margin: 10px 0 0;
  border: 6px solid shade($grey, 30%);
  border-radius: 0.25em;
}

.ui-datepicker:before {
  //content: "";
  //border-color: transparent transparent shade($grey, 30%);
  //border-style: solid;
  //border-width: 0 8px 8px;
  //height: 0;
  //margin-top: 0;
  //opacity: 1;
  //position: absolute;
  //left: 12px;
  //top: -13px;
  //width: 0;
  //z-index: 10;
}
.ui-helper-clearfix:before {
  border-collapse: separate;
}

.ui-datepicker-header {
  background-color: shade($grey, 30%);
  font-weight: bold;
  color: #FFF;
  cursor: default;
  margin: -6px -6px 2px;
  position: relative;
  border-radius: 0.25em 0.25em 0 0;
}

.ui-datepicker-next,
.ui-datepicker-prev {
  position: absolute;
  top: 0;
  width: 52px;
  height: 44px;
  text-align: center;
  cursor: pointer;
}

.ui-datepicker-next:hover,
.ui-datepicker-prev:hover {
  background-color: rgba(#000, 0.15);
}

/* .ui-datepicker-next:active,
.ui-datepicker-prev:active {
    background-color: $yellow;
} */

.ui-datepicker-next.ui-state-disabled,
.ui-datepicker-prev.ui-state-disabled {
  background-color: transparent;
  color: rgba(#FFF, .75);
  cursor: default;
  opacity: .7;
  filter: alpha(opacity=70);
}

.ui-datepicker-prev {
  left: 0;
  border-right: 2px solid rgba(#000, 0.05);
  border-radius: 6px 0 0;
}

.ui-datepicker-next {
  right: 0;
  border-left: 2px solid rgba(#000, 0.05);
  border-radius: 0 6px 0 0;
}

.ui-datepicker-title {
  margin: 0 52px;
  line-height: 44px;
  text-align: center;
}

.ui-datepicker-next span,
.ui-datepicker-prev span {
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -5px;
  top: 50%;
  margin-top: -6px;
  text-indent: -9999px;
  width: 0;
  height: 0;
  content: "";
}

.ui-icon-circle-triangle-w {
  border: inset transparent;
  border-width: 6px 12px 6px 0;
  border-right-color: $yellow;
}

.ui-icon-circle-triangle-e {
  border: outset transparent;
  border-width: 6px 0 6px 12px;
  border-left-color: $yellow;
}

.ui-datepicker table {
  border: 1px solid #FFF;
  font-size: 14px;
  width: 100%;
}

.ui-datepicker thead {
  border: none;
}

.ui-datepicker th {
  min-width: 34px;
  height: 30px;
  text-align: center;
  font-weight: bold;
  border: none;
  padding: 1px;
  vertical-align: middle;
}

.ui-datepicker tr {
  border: none;
  background: #FFF;
}

.ui-datepicker td {
  padding: 1px;
  text-align: center;
  vertical-align: middle;
}

.ui-datepicker td a,
.ui-datepicker td span {
  display: block;
  text-decoration: none;
  color: #000;
  height: 30px;
  line-height: 30px;
  min-width: 34px;
}

.ui-datepicker td a {
  background: rgba(#000, 0.075);
}

.ui-datepicker td a:hover {
  background-color: $yellow;
}

.ui-datepicker select {
  font-size: 1em;
  margin: 1px 0;
}

.ui-datepicker select.ui-datepicker-month-year {
  width: 100%;
}

.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
  width: 49%;
}