@font-face {
    font-family: 'Proxima Nova Regular';
    src: url('../fonts/proximanova/proximanova-reg-webfont.eot');
    src: url('../fonts/proximanova/proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/proximanova/proximanova-reg-webfont.woff2') format('woff2'),
    url('../fonts/proximanova/proximanova-reg-webfont.woff') format('woff'),
    url('../fonts/proximanova/proximanova-reg-webfont.ttf') format('truetype'),
    url('../fonts/proximanova/proximanova-reg-webfont.svg#proxima_nova_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Regular Italic';
    src: url('../fonts/proximanova/proximanova-light-webfont.eot');
    src: url('../fonts/proximanova/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/proximanova/proximanova-light-webfont.woff2') format('woff2'),
    url('../fonts/proximanova/proximanova-light-webfont.woff') format('woff'),
    url('../fonts/proximanova/proximanova-light-webfont.ttf') format('truetype'),
    url('../fonts/proximanova/proximanova-light-webfont.svg#proxima_nova_ltlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Semibold';
    src: url('../fonts/proximanova/proximanova-semibold-webfont.eot');
    src: url('../fonts/proximanova/proximanova-semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/proximanova/proximanova-semibold-webfont.woff2') format('woff2'),
    url('../fonts/proximanova/proximanova-semibold-webfont.woff') format('woff'),
    url('../fonts/proximanova/proximanova-semibold-webfont.ttf') format('truetype'),
    url('../fonts/proximanova/proximanova-semibold-webfont.svg#proxima_nova_ltlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Light';
    src: url('../fonts/proximanova/proximanova-light-webfont.eot');
    src: url('../fonts/proximanova/proximanova-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/proximanova/proximanova-light-webfont.woff2') format('woff2'),
    url('../fonts/proximanova/proximanova-light-webfont.woff') format('woff'),
    url('../fonts/proximanova/proximanova-light-webfont.ttf') format('truetype'),
    url('../fonts/proximanova/proximanova-light-webfont.svg#proxima_nova_ltlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('../fonts/proximanova/proximanova-bold-webfont.eot');
    src: url('../fonts/proximanova/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/proximanova/proximanova-bold-webfont.woff2') format('woff2'),
    url('../fonts/proximanova/proximanova-bold-webfont.woff') format('woff'),
    url('../fonts/proximanova/proximanova-bold-webfont.ttf') format('truetype'),
    url('../fonts/proximanova/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome/fontawesome-webfont.eot');
    src: url('../fonts/fontawesome/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/fontawesome/fontawesome-webfont.woff2') format('woff2'),
    url('../fonts/fontawesome/fontawesome-webfont.woff') format('woff'),
    url('../fonts/fontawesome/fontawesome-webfont.ttf') format('truetype'),
    url('../fonts/fontawesome/fontawesome-webfont.svg#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}