* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100%; min-width: 1040px;
  min-height: 100%;
  color: #454545;
  font-family: $primary-font;
  font-size: 14px;
  margin: 0;
  padding: 0;
  background-color: $semi-white;
}

a, img {
  outline: none;
}

img {
  border-width: 0;
  border-style: none;
}

fieldset {
  border-color: transparent;
}

::selection {
  color: $black;
  background-color: $orange;
}

.container {
  @include clearfix;
  position: relative;
  width: 1170px;
  margin: 0 auto;
}

.hidden {
  display: none !important;
}