@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}
@mixin transition($target, $period, $method) {
	-webkit-transition: $target $period $method;
	-moz-transition: $target $period $method;
	-ms-transition: $target $period $method;
	-o-transition: $target $period $method;
	transition: $target $period $method;
}
@mixin font($family, $size, $color) {
	font-family: $family;
	font-size: $size;
	color: $color;
}
@mixin all-center {
	position: absolute;
	left: 50%; top: 50%;
	transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
}
@mixin absolute-full-size {
	position: absolute; top: 0; right: 0; left: 0; bottom: 0;
	width: 100%; height: 100%;
}

// GRID MIXINS
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin db-tabs {
	@include clearfix;
	> div {
		&:first-child {
			float: left;
		}
		&:last-child {
			float: right;
		}
	}
}
@mixin eq-tabs {
	@include clearfix;
	> div {
		@include span(6 of 12 inside no-gutters);
		&:last-child {
			@include last;
		}
	}
}
@mixin fill-height {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	> * {
		// these are flex items

		// flex: 1; same as:
		// flex-grow: 1;
		// flex-shrink: 1;
		// flex-basis: auto;
		// flex: 1 1 auto;
		flex: 1;

		display: flex;
		flex-direction: column;
		justify-content: center;
		> div {
			// also flex items
		}
	}
}

/* LIST mixins */
@mixin in-line-list {
	display: block;
	list-style: none;
	padding: 0; margin: 0;
}
@mixin reset-list-style {
	padding: 0; margin: 0;
	list-style: none;
}


// img container
@mixin image_container($w, $h) {
	display: block;
	width: $w; height: $h;
	img {
		display: inline-block;
		width: 100%; height: 100%;
	}
	a { display: inline-block; }
}


// blocks mixins

@mixin cols-3 {
	@include susy-breakpoint($semi-tide) {
		@include clearfix;
		> div {
			@include span(4 of 12);
			&:nth-child(3n) { @include last;}
			margin-bottom: 20px;
		}
	}
}

// backgrounds

@mixin icon-before($w, $h) {
	display: inline-block;
	width: $w; height: $h;
	content: '';
	background-image: $ui-img;
	background-repeat: no-repeat;
}

// Add percentage of black to a color
// @use color: shade(#456, 50%);
@function shade($color, $percent) {
	@return mix(black, $color, $percent);
}