h1 {
	font-family: $primary-bolder-font;
	font-size: 4em;
}

h2 {

}
h3 {
	font-size: 2em; font-family: $primary-bolder-font;
}
h4 {
	font-size: 18px; line-height: 1.2em; font-weight: 400;
}

a {
	text-decoration: underline;
	color: $link-color;
	&:hover {
		text-decoration: none;
	}
}

.text {
	p {

	}
}