// backgrounds
//@import "./_fonts";

$ui-img: url('/static/img/ui.png');
$bg-header: url('/static/img/bg-header.png');
$bg-landing: url('/static/img/landing/landing-bg.jpg');

// fonts
$primary-font: 'Proxima Nova Regular', Arial, Helvetica, sans-serif;
$primary-bolder-font: 'Proxima Nova Semibold';
$primary-bold-font: 'Proxima Nova Bold';
$primary-light-font: 'Proxima Nova Light';
// colors
$text-color: #454545;
$link-color: #262626;

$white: #FFF;
$semi-white: #f5f5f5;
$red: #D54442;
$gray: #4D4D4D;
$light-gray: #E4E3E3;
$grey: #D0D6DD;
$black: #000;
$orange: #F8C646;
$yellow: #f8c646;
$magenta: #E08;
$blue: #7075cd;

// grid
$low-tide: false;
$middle-tide: false;
$semi-tide: false;
// > iPhone 6 plus
$high-tide: false;
// iPhone4
$ultra-tide: false;
// this site
$limit-tide: false;

$susy: (
  gutters: 1,
  math: fluid,
  output: float,
);