@import '../../../node_modules/susy/sass/susy';

$yellow: #F9FD17;

body {
	font-family: "Trebuchet MS"; font-size: 16px;
}
table {
	width: 1000px;
	margin-bottom: 2rem;
	border-collapse: collapse;
	border-spacing: 0;
	&.inner {
		width: 100%;
		margin-bottom: 0;
	}
	&.bordered {
		border-top: 1px #000 solid; border-right: 1px #000 solid;
		td, th {
			border-left: 1px #000 solid; border-bottom: 1px #000 solid;
		}
	}
	&.style-w1 { td { height: 1rem; } }
	&.style-w2 { td { height: 2rem; } }
	&.style-w4 { td { height: 4rem; } }
	&.style-w5 { td { height: 5rem; } }
	&.left {
		td { text-align: left; }
	}
	&.center { td, th { text-align: center; }}

	&.comments {
		display: inline-block;
		border: 2px #000 solid;
		span {
			display: inline-block;
			position: absolute; left: 2px; top: 2px;
			white-space: nowrap;
		}
		td {
			height: 8em; text-align: left;
		}
	}
	&.approved {
		th {
			height: 3em;
			text-align: center; font-size: 1.2em; color: #73288A;
			vertical-align: middle; text-align: center;
			padding: 0.5em 0;
		}
		td {
			height: 4em;
			&.divider { height: 1em; }
			span {
				position: absolute; left: 2px; top: 2px;
				display: inline-block;
				font-size: 0.725em; color: #73288A;

			}
		}
	}

}
tr {
	position: relative;
}
td {
	position: relative;
	line-height: 1.2em;
	text-align: center; vertical-align: middle;
	padding: 0; margin: 0;
	&.editable {
		background-color: $yellow;
		height: 1.8rem;
	}
	&.bordered {
		border: 2px #000 solid;
	}
	&.currency {
		vertical-align: top;
		tr {
			td {
				border-left: 0;
				height: 2rem;
			}
		}
		table { border-left: 0; }
	}
}
th {
	font-weight: normal; font-size: 0.75em;
	background-color: #FFF;
}

h1 {
	font-size: 28px; font-weight: bold; color: #FFF;
	text-transform: uppercase;
	margin: 0.5rem 0;
}
h2 {
	font-size: 24px; color: #73288A; font-weight: bold;
	text-transform: uppercase;
	margin: 0.4rem 0;
}

.logo {
	font-size: 22px; font-weight: bold;
	text-transform: uppercase;
}
.bg-colored {
	&.-blue { background-color: #335A7B; }
}
.bold {
	font-weight: bold;
}
.title {
	margin-bottom: 2em;
}
// margins & paddings
.pt-5 { padding-top: 5px; }
.pt-10 { padding-top: 10px; }
// grid
.col {
	&--1-12 { @include span(1 of 12 inside no-gutters); }
	&--2-12 { width: 16.66667%;}
	&--3-12 { width: 25%; }
	&--4-12 { width: 33.33333%; }
	&--5-12 { width: 41.66667%; }
	&--6-12 { @include span(6 of 12 inside no-gutters); }
	&--8-12 { width: 66.66667%; }
	&--10-12 {  width: 83.33333%; }
}