.b-button {
  @include transition(all, 0.1s, ease-in-out);

  display: inline-block;
  font-family: $primary-bolder-font; font-size: 1.375em;
  line-height: 1.5em;
  padding: .6875em 1.125em;
  border-radius: 3px;
  outline: 0;
  opacity: 0.5;

  &:active, &:focus {
    transform: scale(.975);
  }
  &:enabled {
    opacity: 1;
  }
  &.-orange {
    color: $black;
    background-color: $orange;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    border-color: rgba(0,0,0,.035);
    &:active {
      background-color: #FBD063;
    }
  }
  &.-large {
    font-size: 2em;
  }
  &--check {
    position: absolute; right: 0; bottom: 0;
    display: inline-block;
    font-family: $primary-bolder-font; font-size: 1.375em;
    line-height:  42px;
    padding: 0 1.125em;
    border-radius: 3px;
    background-color: $orange;
    border-color: rgba(0,0,0,.035);
    outline: 0;
    cursor: pointer;
  }
}