body {
  font-family: "Trebuchet MS";
  font-size: 16px;
}

table {
  width: 1000px;
  margin-bottom: 2rem;
  border-collapse: collapse;
  border-spacing: 0;
}
table.inner {
  width: 100%;
  margin-bottom: 0;
}
table.bordered {
  border-top: 1px #000 solid;
  border-right: 1px #000 solid;
}
table.bordered td, table.bordered th {
  border-left: 1px #000 solid;
  border-bottom: 1px #000 solid;
}
table.style-w1 td {
  height: 1rem;
}
table.style-w2 td {
  height: 2rem;
}
table.style-w4 td {
  height: 4rem;
}
table.style-w5 td {
  height: 5rem;
}
table.left td {
  text-align: left;
}
table.center td, table.center th {
  text-align: center;
}
table.comments {
  display: inline-block;
  border: 2px #000 solid;
}
table.comments span {
  display: inline-block;
  position: absolute;
  left: 2px;
  top: 2px;
  white-space: nowrap;
}
table.comments td {
  height: 8em;
  text-align: left;
}
table.approved th {
  height: 3em;
  text-align: center;
  font-size: 1.2em;
  color: #73288A;
  vertical-align: middle;
  text-align: center;
  padding: 0.5em 0;
}
table.approved td {
  height: 4em;
}
table.approved td.divider {
  height: 1em;
}
table.approved td span {
  position: absolute;
  left: 2px;
  top: 2px;
  display: inline-block;
  font-size: 0.725em;
  color: #73288A;
}

tr {
  position: relative;
}

td {
  position: relative;
  line-height: 1.2em;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  margin: 0;
}
td.editable {
  background-color: #F9FD17;
  height: 1.8rem;
}
td.bordered {
  border: 2px #000 solid;
}
td.currency {
  vertical-align: top;
}
td.currency tr td {
  border-left: 0;
  height: 2rem;
}
td.currency table {
  border-left: 0;
}

th {
  font-weight: normal;
  font-size: 0.75em;
  background-color: #FFF;
}

h1 {
  font-size: 28px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  margin: 0.5rem 0;
}

h2 {
  font-size: 24px;
  color: #73288A;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0.4rem 0;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}

.bg-colored.-blue {
  background-color: #335A7B;
}

.bold {
  font-weight: bold;
}

.title {
  margin-bottom: 2em;
}

.pt-5 {
  padding-top: 5px;
}

.pt-10 {
  padding-top: 10px;
}

.col--1-12 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 8.33333%;
  float: left;
}
.col--2-12 {
  width: 16.66667%;
}
.col--3-12 {
  width: 25%;
}
.col--4-12 {
  width: 33.33333%;
}
.col--5-12 {
  width: 41.66667%;
}
.col--6-12 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  float: left;
}
.col--8-12 {
  width: 66.66667%;
}
.col--10-12 {
  width: 83.33333%;
}

/*# sourceMappingURL=styles.css.map */
