.b-nav {
  &--dots {
    position: relative; top: -1.3rem;
    width: 100%;
    text-align: center;
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    li {
      @include transition(all, 0.3s, ease-out);
      position: relative;
      display: inline-block;
      height: 2.5rem;  width: 2.5rem;
      color: #d0d6dd;
      text-decoration: none; line-height: 2.5em; text-align: center;
      margin: 0 0.5em; padding-top: 2px;
      background: #fff none repeat scroll 0 0;
      border: 1px solid #d0d6dd;
      border-radius: 50%;
      cursor: pointer;
      &.is-active {
        color: #000;
        background: #f8c646 none repeat scroll 0 0;
        border-color: #f8c646;
        cursor: auto;
        &:hover {
          background: $orange;
        }
      }
      &:hover {
        color: $black;
        background-color: #d0d6dd;
      }
    }
  }
  &--controls {
    width: 100%;
    .prev, .next {
      background-color: $white;
      cursor: pointer;
    }
    .prev {
      float: left;
      margin-left: 3rem; padding-right: 3em;
    }
    .next {
      float: right;
      margin-right: 3rem; padding-left: 3rem;
    }
    span {
      font-size: 1.3em;
      vertical-align: top; line-height: 3.5em;
    }
    img {
      width: 4rem; height: 100%;
    }
  }
}

.b-order {
  &__nav {
    position: relative;
    margin: 2rem auto 0;
    border-top: 1px solid #d0d6dd;

  }
  .b-nav--controls {
    position: absolute; top: -2rem;
    height: 0;
  }
}