.b-feature {
	padding: 1rem 2rem;
    border: 1px #D4D4D4 solid;
    background-color: #FAFAFA;
    border-radius: 0.5rem;
    min-height: 450px;
	&__title {
		text-align: center;
		margin-bottom: 0.5rem;
		h4 {
			font-size: 1.8em; font-family: $primary-bolder-font;
			line-height: 2em;
			&:first-letter {
				color: $blue; font-size: 1.9em;
			}
		}
	}
	&__image {
		vertical-align: top; text-align: center;
		margin: 1rem 0 2rem;
		img, svg {
			display: inline-block;
			width: 8rem; height: 8rem;
			vertical-align: top;
		}
	}
	ul {
		list-style: none;
		li {
			position: relative;
			font-size: 1.1em; line-height: 1.1em;
			padding-left: 30px; margin-bottom: 0.8rem;
			&:before {
				position: absolute; left: 0;
				display: inline-block;
				font-family: "FontAwesome"; color: $orange; font-size: 1.3em;
				content: "\f046";
			}
		}
	}


}