.b-offer {
	@include susy-clearfix;

	.b-offer__image {
		@include span(5 of 12 inside no-gutters);
		vertical-align: top;
		img {
			display: inline-block;
			vertical-align: top;
			width: 100%; height: 100%;
		}
	}
	.b-offer__content {
		@include span(7 of 12 inside no-gutters);

		padding: 2rem 1rem 1rem;
	}
	.b-offer__title {
		padding-bottom: 1.5em;
		h4 {
			font-size: 2.5em;
			line-height: 0.8em;
		}
		p {
			font-size: 1.3em; font-family: $primary-light-font;
		}
	}
	.b-offer__text {
		p {
			font-size: 1.1em;
			line-height: 1.4em;
		}
	}
}