body.p-landing {
	h1 {
		font-size: 4em; color: $white;
		text-transform: uppercase;
		padding-top: 1em;
	}

	.b-title {
		text-shadow: 1px 1px 2px rgba(0,0,0, 0.3);
		p { color: $white; font-size: 2em; font-family: $primary-light-font; }
	}
	.b-page__title {
		padding: 1.5rem 2rem 1.5rem 2rem;
		margin-bottom: 1rem;
		h2 {
			display: inline-block;
			font-size: 3em; font-family: $primary-light-font;
			line-height: 0.7em;
			padding: 0 1em 0 0.2em;
			border-bottom: 3px $orange solid;
		}
		p {
			padding-left: 2rem;
			font-size: 1.3em; font-family: $primary-light-font;
			line-height: 1em;
		}
	}
	.b-form {
		&__container { width: 100%; }
		.b-alert {
			&__container {
				position: absolute; top: 100%;
				white-space: nowrap;
				&.-left { left: 0; }
				&.-right { right: 0; }
				&.-center {
					left: 50%;
					transform: translateX(-50%);
				}
			}
		}
	}
	.b-enter {
		text-align: center;
		padding: 1em 2em;
		.b-button {
			width: 100%;
			text-align: center;
			text-decoration: none;
		}
		i {
			vertical-align: middle;
			margin: 0 5px;
		}
		p {
			font-size: 1.2em;
			padding: 1em 0;
			&:last-child { padding-bottom: 0; }
		}
	}
	.b-section {
		&.main {
			min-height: 100vh;
			background-image: $bg-landing;
	background-size: 100% auto;
	background-repeat: no-repeat;
	min-width: 1040px;
		}

		&.features {
			background-color: $white;
			padding: 2em 0 3em;
			.b-section__col {
				@include span(3 of 12 inside no-gutters);

				padding: 0.5rem;
			}
		}
		&.offers {
			.b-section__col {
				@include span(6 of 12 inside no-gutters);
			}
		}
	}
}