.b-select {
  position: absolute;
  bottom: 0; left: 0;
  width: 100%;
  z-index: 5;
  /* just to overwrite old ".b-select" styles */
  height: auto;
  background: inherit;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  &:after { display: none; }
  /* overwrite complete */
  select {
    outline: 0;
  }
}
.select2 {
  &-container {
    outline: 0;
    box-shadow: 0 0 4px rgba(248,198,70, 1);
    border-radius: 3px;
    &:focus {
      outline: 0;
    }
  }
}

.select2-container--default {
  .select2-selection--single {
    outline: none;
    .select2-selection__rendered {
      line-height: 40px;
    }
  }
  .select2-results__option--highlighted {
    &[aria-selected] {
      background-color: $orange;
      color: $black;
      font-family: $primary-bolder-font;
    }
  }
}
.select2-container--default {
  .select2-selection--single {
    .select2-selection__arrow {
      height: 40px;
    }
  }
}
