<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta charset="utf-8" />

        <title>Driver Trust Document</title>

        <style type="text/css">
            /*{{file_get_contents(public_path('static/css/pdf.css'))}} */
@charset "UTF-8";*,:after,:before{margin:0;padding:0}.grid:after,.row:after{content:"";display:table;clear:both}.pad{padding:2%}[class*=col-]{float:left;margin:0 2% 0 0;width:100%;min-height:1px;box-sizing:border-box}.-no-gutter [class*=col-],[class*=col-].-no-gutter,[class*=col-].last,[class*=col-]:last-of-type{margin:0}td[class*=col-]{float:none}.col-0-12,.col-0-12.-no-gutter{width:0}.col-1-12{width:6.5%}.col-1-12.-no-gutter{width:6.66667%}.col-2-12{width:15%}.col-2-12.-no-gutter{width:15.33333%}.col-3-12{width:23.5%}.col-3-12.-no-gutter{width:24%}.col-4-12{width:32%}.col-4-12.-no-gutter{width:32.66667%}.col-5-12{width:40.5%}.col-5-12.-no-gutter{width:41.33333%}.col-6-12{width:49%}.col-6-12.-no-gutter{width:50%}.col-7-12{width:57.5%}.col-7-12.-no-gutter{width:58.66667%}.col-8-12{width:66%}.col-8-12.-no-gutter{width:67.33333%}.col-9-12{width:74.5%}.col-9-12.-no-gutter{width:76%}.col-10-12{width:83%}.col-10-12.-no-gutter{width:84.66667%}.col-11-12{width:91.5%}.col-11-12.-no-gutter{width:93.33333%}.col-12-12{width:100%}.col-12-12.-no-gutter{width:102%}.-no-gutter .col-0-12{width:0}.-no-gutter .col-1-12{width:6.66667%}.-no-gutter .col-2-12{width:15.33333%}.-no-gutter .col-3-12{width:24%}.-no-gutter .col-4-12{width:32.66667%}.-no-gutter .col-5-12{width:41.33333%}.-no-gutter .col-6-12{width:50%}.-no-gutter .col-7-12{width:58.66667%}.-no-gutter .col-8-12{width:67.33333%}.-no-gutter .col-9-12{width:76%}.-no-gutter .col-10-12{width:84.66667%}.-no-gutter .col-11-12{width:93.33333%}.-no-gutter .col-12-12{width:102%}.col-0-5,.col-0-5.-no-gutter{width:0}.col-1-5{width:18.4%}.col-1-5.-no-gutter{width:18.8%}.col-2-5{width:38.8%}.col-2-5.-no-gutter{width:39.6%}.col-3-5{width:59.2%}.col-3-5.-no-gutter{width:60.4%}.col-4-5{width:79.6%}.col-4-5.-no-gutter{width:81.2%}.col-5-5{width:100%}.col-5-5.-no-gutter{width:102%}.-no-gutter .col-0-5{width:0}.-no-gutter .col-1-5{width:18.8%}.-no-gutter .col-2-5{width:39.6%}.-no-gutter .col-3-5{width:60.4%}.-no-gutter .col-4-5{width:81.2%}.-no-gutter .col-5-5{width:102%}
            * {
                margin: 0;
                padding: 0;
            }

            @page {
                margin: 1cm 1cm 1cm 2cm;
            }

            html {
                height: 100%;
            }

            .line {
                margin-bottom: 5px;
            }

            .text-center {
                text-align: center;
            }

            .text-right {
                text-align: right;
                padding-right: 5px;
            }

            .border-bottom {
                border-bottom: 1px solid #000;
            }

            .vbottom {
                vertical-align: bottom;
            }

            body {
                font-family: arial, serif;
                font-size: 12px;
                height: 100%;
                max-width: 297mm;
            }

            table {
                width: 100%;
                margin: 0 auto;
            }

            .page-number img {
                width: 200px;
                height: auto;
            }

            hr {
                page-break-after: always;
                border: 0;
            }

            table {
                border-collapse: collapse;
            }

            table.stack {
                margin-top: -1px;
            }

            table.bordered th {
                text-align: center;
                border: 1px solid;

            }

            table.bordered td, td.bordered {
                clear: both;
                border: 1px solid;
                border-spacing: 0;
                border-collapse: collapse;
            }

            table.bordered.bordered_bold td, td.bordered.bordered_bold {
                border-width: 3px;
            }

            .signs {
                margin-bottom: 20px;
                display: table;
                width: 100%;
                position: relative;
            }

            .sign {
                width: 100%;
                padding-top: 50px;
                font-family: Verdana, serif;
                font-size: 8pt;
            }

            .sign__owner {
                width: 160px;
                display: inline-block;
                vertical-align: top;
                text-align: left;
            }

            .sign__kostrukova {
                position: absolute;
                top: -60px;
                left: 0;
                height: 70px;
            }

            .sign__rudakov {
                position: absolute;
                top: -100px;
                left: 0;
                height: 150px;
            }

            .sign__place {
                font-size: 7pt;
                border-top: 1px solid #000;
                padding: 0 50px;
                display: inline-block;
                vertical-align: super;
                position: relative;
            }

            .sign__place_underline {
                margin-top: 25px;
            }

            .sign__name {
                width: 240px;
                display: inline-block;
                text-align: center;
            }

            .sign__name-value {
                display: inline-block;
                padding-bottom: 6px;
            }
        </style>

    </head>
    <body>
        <table class="bordered">
            <tr>
                <td class="text-center col-1-12">Номер доверенности</td>
                <td class="text-center col-2-12">Дата выдачи</td>
                <td class="text-center col-2-12">Срок действия</td>
                <td class="text-center col-3-12">Должность и фамилия лица, которому выдана доверенность</td>
                <td class="text-center col-3-12">Расписка в получении доверенности</td>
            </tr>
            <tr>
                @foreach([1,2,3,4,5] as $i)
                    <td class="text-center">{{$i}}</td>
                @endforeach
            </tr>
            <tr>
                <td style="height: 20px; text-align: center;">{{ $act_num }}</td>
                <td style="height: 20px; text-align: center;">{{ $date }}</td>
                <td style="height: 20px; text-align: center;">До {{ $exp_date }}</td>
                <td style="height: 20px; text-align: center;">{{ $order->driver_name }}</td>
                <td style="height: 20px; text-align: center;"></td>
            </tr>
        </table>
        <table class="bordered stack header-table line">
            <tr>
                <td colspan="2" class="text-center col-4-12">Поставщик</td>
                <td colspan="2" class="text-center col-4-12">
                    Номер и дата наряда (замещающего наряд документа) или извещения
                </td>
                <td colspan="2" class="text-center col-4-12">
                    Номер и дата документа, подтверждающего выполнение поручения
                </td>
            </tr>
            <tr>
                @foreach([6,7,8] as $i)
                    <td colspan="2" class="text-center">{{$i}}</td>
                @endforeach
            </tr>
            <tr>
                <td colspan="6" class="text-center">Линия отреза</td>
            </tr>
        </table>
        <div class="text-right line" style="font-size: 14px;">
            Типовая межотраслевая форма № М-2<br />
            Утверждена постановлением Госкомстата России от 30.10.97 № 71а
        </div>

        <table class="line">
            <tr>
                <td colspan="3"></td>
                <td class="bordered text-center">коды</td>
            </tr>
            <tr>
                <td rowspan="2" class="col-3-12 text-right">
                    <div style="border-bottom: 1px solid transparent;">
                        Организация
                    </div>
                </td>
                <td rowspan="2" class="col-6-12">
                    <div class="border-bottom">
                        {{--{{{$order->cargo_name}}}--}}
                        ООО «Веб Логистика» ИНН 7734370287 КПП 773401001 123458, г.Москва, ул.Таллинская, д.13, корп.4, помещение 2
                    </div>
                </td>
                <td class="col-2-12 text-right">Форма по ОКУД</td>
                <td class="col-1-12 bordered bordered_bold text-center">0315001</td>
            </tr>
            <tr>
                <td class="col-2-12 text-right">по ОКПО</td>
                <td class="col-1-12 bordered bordered_bold text-center">38507121</td>
            </tr>
        </table>
        <table class="line">
            <tr>
                <td colspan="2" class="col-6-12 text-right" style="text-transform: uppercase;">Доверенность
                    № {{ $act_num }}</td>
                <td colspan="2" class="col-6-12 vbottom">
                    <div class="border-bottom" style="width: 300px"></div>
                </td>
            </tr>
        </table>
        <table class="line">
            <tr class="line">
                <td class="col-4-12 text-right">Дата выдачи:</td>
                <td class="col-3-12 border-bottom">{{ $date }}</td>
                <td class="col-5-12"></td>
            </tr>
            <tr class="line">
                <td class="col-4-12 text-right">Доверенность действительна по:</td>
                <td class="col-3-12" style="border-bottom: 1px solid #000;">{{ $exp_date }}</td>
                <td class="col-5-12"></td>
            </tr>
        </table>
        <table class="line">
            <tr>
                <td class="text-center border-bottom">{{ $to_name }},
                    @if($kontur)
                        ИНН: {{ $to_inn }} КПП: {{ $to_kpp }} ОГРН: {{ $to_ogrn }}
                        {{ $to_address }}
                    @endif
                </td>
            </tr>
            <tr>
                <td class="text-center">наименование потребителя и его адрес</td>
            </tr>
            <tr>
                <td class="text-center border-bottom">{{ $from_name }}, ИНН: {{ $from_inn }} КПП: {{ $from_kpp }} ОГРН: {{ $from_ogrn }}
                    {{ $from_address }}
                </td>
            </tr>
            <tr>
                <td class="text-center">наименование плательщика и его адрес</td>
            </tr>
        </table>
        <table class="line">
            <tr>
                <td class="col-4-12 text-right">Доверенность выдана</td>
                <td class="col-2-12 border-bottom">водителю</td>
                <td class="col-1-12 text-center" style="border-bottom: 1px solid #fff"></td>
                <td class="col-5-12 border-bottom">{{{$order->driver_name}}}</td>
            </tr>
            <tr>
                <td class="col-4-12 text-right">Паспорт:</td>
                <td class="col-4-12 border-bottom">{{ $order->driver_passport }}</td>
                {{--<td class="col-1-12 text-center" style="border-bottom: 1px solid #fff">№</td>--}}
                {{--<td class="col-5-12 border-bottom"></td>--}}
            </tr>
            {{--<tr>--}}
            {{--<td class="col-4-12 text-right">Кем выдан</td>--}}
            {{--<td colspan="3" class="border-bottom"></td>--}}
            {{--</tr>--}}
            {{--<tr>--}}
            {{--<td class="col-4-12 text-right">Дата выдачи</td>--}}
            {{--<td class="border-bottom"></td>--}}
            {{--<td colspan="2"></td>--}}
            {{--</tr>--}}
            <tr>
                <td class="col-4-12 text-right">На получение от</td>
                <td colspan="3" class="col-8-12 border-bottom">{{ $from_name }}</td>
            </tr>
            <tr>
                <td></td>
                <td colspan="3" class="text-center">наименование поставщика</td>
            </tr>
            <tr>
                <td class="col-4-12 text-right">Материальных ценностей по</td>
                <td colspan="3" class="border-bottom">Договор заявка № {{ $order->id }}</td>
            </tr>
            <tr>
                <td class="col-4-12"></td>
                <td colspan="4" class="text-center">наименование, номер и дата документа</td>
            </tr>
        </table>

        <div class="text-center line" style="font-weight: bold; font-size: 14px">
            Перечень товарно-материальных ценностей, подлежащих получению
        </div>
        <table class="bordered line">
            <tr>
                <td class="col-1-12 text-center">Номер по порядку</td>
                <td class="col-8-12 text-center">Материальные ценности</td>
                <td class="col-1-12 text-center">Единица измерения</td>
                <td class="col-4-12 text-center">Количество (прописью)</td>
            </tr>
            <?php $item = $order->orderItems->first();?>
            <tr>
                <td class="text-center">1</td>
                <td>{{{$item->item_name}}}</td>
                <td class="text-center">кг</td>
                <td>{{$item->item_netto}}</td>
            </tr>
        </table>

        <table>
            <tr>
                <td class="col-4-12">Подпись лица, получившего доверенность</td>
                <td class="col-4-12"></td>
                <td class="col-4-12">удостоверяем</td>
            </tr>
        </table>

        <div class="signs">
            <div class="sign">
                <span class="sign__owner">Руководитель</span>
                <span class="sign__place sign__place_underline">
                    подпись
                    @if(!$blank)
                        <img class="sign__rudakov" src="{{public_path('images/pechat.png')}}" />
                    @endif
                </span>
                <span class="sign__name">
                    <span class="sign__name-value">Рудаков Д. В.</span>
                    <span class="sign__place">расшифровка подписи</span>
                </span>
            </div>
            <div class="sign">
                <span class="sign__owner">Главный бухгалтер</span>
                <span class="sign__place sign__place_underline">
                    подпись
                    @if(!$blank)
                        <img class="sign__kostrukova" src="{{public_path('images/sign_kostrukova.png')}}" />
                    @endif
                </span>
                <span class="sign__name">
                    <span class="sign__name-value">Кострюкова А.В.</span>
                    <span class="sign__place">расшифровка подписи</span>
                </span>
            </div>
        </div>


    </body>
</html>